<html>
  <head>
    <title>Fullstack Master</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fullstack Master</h1>
    <p>
      <a href="/">Home</a> | 
      <a href="/calc?num1=10&num2=20">Calc</a>
    </p>